**/node_modules
**/.pnpm-store
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
!**/.env.production.local.example
dist
**/dist
*.log
.DS_Store
coverage
.turbo
.vite
.cursor
*.md
!README.md
